<div class="row">
  <div class="col-md-8">
    <%= f.field_container :name, class: ['form-group'] do %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control title' %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= f.field_container :address1, class: ['form-group'] do %>
      <%= f.label :address1 %>
      <%= f.text_field :address1, class: 'form-control title' %>
      <%= f.error_message_on :address1 %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= f.field_container :address2, class: ['form-group'] do %>
      <%= f.label :address2 %>
      <%= f.text_field :address2, class: 'form-control title' %>
      <%= f.error_message_on :address2 %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= f.field_container :city, class: ['form-group'] do %>
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control title' %>
      <%= f.error_message_on :city %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <%= f.field_container :state, class: ['form-group'] do %>
      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control title' %>
      <%= f.error_message_on :state %>
    <% end %>
  </div>
  <div class="col-md-3">
    <%= f.field_container :country, class: ['form-group'] do %>
      <%= f.label :country %>
      <%= f.text_field :country, class: 'form-control title' %>
      <%= f.error_message_on :country %>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= f.field_container :zip, class: ['form-group'] do %>
      <%= f.label :zip %>
      <%= f.text_field :zip, class: 'form-control title' %>
      <%= f.error_message_on :zip %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <%= f.field_container :website, class: ['form-group'] do %>
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control title' %>
      <%= f.error_message_on :website %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= f.field_container :phone, class: ['form-group'] do %>
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control title' %>
      <%= f.error_message_on :phone %>
    <% end %>
  </div>
  <div class="col-md-8">
    <%= f.field_container :image, class: ['form-group'] do %>
      <%= f.label :image %>
      <%= f.file_field :image, class: 'form-control title' %>
      <%= f.error_message_on :image %>
    <% end %>
  </div>
</div>
