<% content_for :page_title do %>
  <%= @store_locator.name %>
<% end %>

<%= render 'spree/admin/shared/store_locator_tabs', current: 'Store Locator Details' %>

<%= form_for @store_locator, url: admin_store_locator_path(@store_locator.id), method: :patch do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>
    <div data-hook="admin_store_locator_edit_form_buttons">
      <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
    </div>
  </fieldset>
<% end %>
