
<tr>
  <td><%= store.name %></td>
  <td><%= store.city %></td>
  <td><%= store.state %></td>
  <td class="actions">
    <%= link_to_edit store, url: edit_admin_retail_store_path(store.id), no_text: true, class: 'edit' %>&nbsp;
    <%= link_to_delete store, url: admin_retail_store_path(store.id), no_text: true, method: 'delete' %>  
  </td>
</tr>